name: Convert and push images
on:
  push:
    branches:
      - master

env:
  REGISTRY: ghcr.io

jobs:
  convert-push-images:
    runs-on: ubuntu-20.04
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install tools
        run: sudo bash tools/install-tools.sh
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Convert and push images
        run: |
          sudo -E bash tools/start-containerd.sh
          sudo -E python -u ./convert_images.py --push
